__pycache__/
*.py[cod]
*.egg-info/
.venv/
.ipynb_checkpoints/

# data caches
data/sequences/
data/embeddings/
data/embeddings_nt_v2/
data/hgnc/
GenePT_emebdding_v2/
data/dataset.parquet
data/dataset_nt_v2.parquet
data/gene_table.parquet
